*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.content {
  background-color: #283e50;
  max-width: 370px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.intro__image {
  background-position: center;
  border-radius: 7px 7px 0 0;
}

h1 {
  font-family: 'Lobster';
  margin: 0%;
  padding-top: 1.25rem;
}

.rules__text {
  line-height: 1.5;
  text-align: center;
  font-size: 12px;
  padding-right: 20px;
}

.buttons__game li {
  display: block;
}

.buttons__game a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 30px;
}

.buttons__game {
  margin: 0;
  padding: 0;
}

.btn--rules {
  background-color: #1fcca4;
  max-width: 100%;
}

.btn--play {
  background-color: #0197f6;
  max-width: 100%;
}

.btn--rules a:hover,
.btn--rules a:focus,
.game-menu__home--button:hover,
.game-menu__home--button:focus {
  background-color: #1cbb96;
  color: #ffffff;
}

.btn--play a:hover,
.btn--play a:focus,
.game-menu__restart--button:hover,
.game-menu__restart--buttona:focus {
  background-color: #0090e9;
  color: #ffffff;
}

/* Ukol II responzivita*/

img {
  max-width: 100%;
}

.icon {
  width: 1em;
  filter: invert(100%);
}

figcaption {
  max-width: 100%;
  font-style: italic;
  font-size: 12px;
  line-height: normal;
  padding-top: 5px;
  padding-bottom: 10px;
}

.bullets {
  text-align: left;
  padding-left: 0.938rem;
}

.rules__title {
  padding-top: 1.25rem;
}

figure {
  margin: 5px 25px;
}

@media (min-width: 768px) {
  .rules__tictactoe {
    max-width: 600px;
  }

  .image__explanations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .image__explanations figure {
    max-width: 40%;
  }

  figcaption,
  .rules__text {
    font-size: 16px;
  }

  h1 {
    font-size: 35px;
  }

  .buttons__game a {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .rules__tictactoe {
    max-width: 900px;
  }

  h1 {
    font-size: 44px;
  }

  figure {
    margin: 10px 45px;
  }

  .rules__text {
    margin-left: 20px;
    margin-right: 10px;
  }

  figcaption,
  .rules__text {
    font-size: 24px;
  }

  .buttons__game a {
    font-size: 24px;
  }
}

/* III. časť */

.gra {
  max-width: 80vw;
  margin: 0 auto;
  max-height: 60%;
  width: 470px;
}

.game-menu__icon span {
  font-weight: bold;
  font-size: 1.3rem;
}

.game-menu__buttons {
  display: block;
}

.game-menu__home--button {
  background-color: #1fcca4;
  border-radius: 0.3em;
  padding: 7px;
  margin-right: 5px;
}

.game-menu__restart--button {
  background-color: #0197f6;
  border-radius: 0.3em;
  padding: 7px;
}

.game-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.game__field {
  display: flex;
  flex-wrap: wrap;
  border: solid black;
}

button {
  background-color: rgba(240, 237, 237, 0.75);
  width: 10%;
  aspect-ratio: 1 / 1;
  opacity: 0.5;
  border: solid black;
}

button:hover,
:focus {
  cursor: pointer;
  opacity: 0.7;
}

.icon {
  position: relative;
  top: 1.5px;
}
