body {
  background-color: #615dad;
  background-image: linear-gradient(#615dad, #ffc8da);
}

.obsah {
  background-color: #283e50;
  max-width: 350px;
  align-items: center;
  position: relative;
  left: 400px;
  top: 80px;
}

.foto {
  max-width: 350px;
}

h1 {
  font-size: 26px;
  text-align: center;
  color: #ffffff;
}

p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 15px 15px;
}

.tlacidla li {
  display: block;
}

.tlacidla a {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 30px;
}

.tlacidla {
  margin: 0;
  padding: 0;
}

.pravidla {
  background-color: #1fcca4;
  width: 350px;
}

.hrat {
  background-color: #0197f6;
  width: 350px;
}

.pravidla a:hover,
.pravidla a:focus {
  background-color: #1cbb96;
  color: #ffffff;
}

.hrat a:hover,
.hrat a:focus {
  background-color: #0090e9;
  color: #ffffff;
}
