*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.obsah {
  background-color: #283e50;
  max-width: 370px;
  margin: 0 auto;
}

.foto {
  max-width: 370px;
  border-radius: 5px 5px 0 0;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  font-family: 'Lobster';
}

p {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 10px 20px;
}

.tlacidla li {
  display: block;
}

.tlacidla a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 30px;
}

.tlacidla {
  margin: 0;
  padding: 0;
}

.pravidla {
  background-color: #1fcca4;
}

.hrat {
  background-color: #0197f6;
  width: 370px;
}

.pravidla a:hover,
.pravidla a:focus {
  background-color: #1cbb96;
  color: #ffffff;
}

.hrat a:hover,
.hrat a:focus {
  background-color: #0090e9;
  color: #ffffff;
}
